package {{group}}.{{artifact}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
* {{description}}
* @author {{author}}
*/
@SpringBootApplication
public class {{appName}} {

	public static void main(String[] args) {
		SpringApplication.run({{appName}}.class, args);
	}
}
